@import "tailwindcss";
@font-face {
    font-family: "satoshi";
    src:
      url("./assets/fonts/Satoshi-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    margin: 0;
    font-family: 'satoshi', sans-serif;
  }